.welcome {

  .slides {
    height: 100%;
    background-image: url(../../assets/img/main-bg.png);
    color: #2C3546;
    position: relative;

    .slide {
      top: 100px;
      position: fixed;
      width: 100%;
    }

    .img-wrapper {
      margin: 35px auto;
      width: 184px;
      height: 80px;

      img {
        width: 100%;
      }
    }

    .caption {
      font-size: 22px;
      font-weight: 500;
      padding: 10px 0;
    }

    .sub-caption {
      font-size: 16px;
      font-weight: 300;
    }

    .link {
      display: block;
      text-decoration: none;
    }

    .skip {
      bottom: 49px;
      color: #507492;
      line-height: 20px;
      font-size: 16px;
      font-weight: 500;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .select-project {
      margin: 25px 0;
      color: #507492;
      text-transform: uppercase;
      line-height: 22px;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 100px;
      width: 100%;

      .text {
        margin: 0 5px;
      }

      .icon {
        display: flex;
        font-size: 22px;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: #2C3546 !important;
    }
  }
}


