<ion-content fullscreen class="welcome">
  <ion-slides class="slides" pager="true">
    <ion-slide *ngFor="let slide of slides; let i = index">
      <div class="slide">
        <div class="img-wrapper">
          <img src={{slide.image}} />
        </div>
        <div class="caption">
          {{slide.caption}}
        </div>
        <div class="sub-caption">
          {{slide.subCaption}}
        </div>

        <a [routerLink]="['/home']" *ngIf="i === slides.length - 1" class="link select-project">
          <span class="text">Select a project</span>
          <span class="icon">
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </span>
        </a>

        <a [routerLink]="['/home']" *ngIf="i !== slides.length - 1" class="skip link">
          <span class="text">Skip</span>
        </a>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
